<tbody>
    <tr>
      <td><%= skater.number %></td>
      <td><%= skater.name %></td>
      <td><%= skater.pos %></td>
      <td><%= skater.gp %></td>
      <td><%= skater.goals %></td>
      <td><%= skater.assists %></td>
      <td><%= skater.points %></td>
      <td><%= skater.pim %></td>
    </tr>
</tbody>
