<tbody>
  <tr>
    <td><%= goaltender.number %></td>
    <td><%= goaltender.name %></td>
    <td><%= goaltender.gp %></td>
    <td><%= goaltender.wins %></td>
    <td><%= goaltender.loses %></td>
    <td><%= goaltender.otl %></td>
    <td><%= goaltender.winpercent %></td>
    <td><%= goaltender.ga %></td>
    <td><%= goaltender.gaa %></td>
    <td><%= goaltender.shutouts %></td>
  </tr>
</tbody>
