  <tr>
    <td><%= alumni_goaltender.number %></td>
    <td><%= alumni_goaltender.name %></td>
    <td><%= alumni_goaltender.gp %></td>
    <td><%= alumni_goaltender.wins %></td>
    <td><%= alumni_goaltender.loses %></td>
    <td><%= alumni_goaltender.otl %></td>
    <td><%= alumni_goaltender.winpercent %></td>
    <td><%= alumni_goaltender.ga %></td>
    <td><%= alumni_goaltender.gaa %></td>
    <td><%= alumni_goaltender.shutouts %></td>
    <td><%= alumni_goaltender.season %></td>
  </tr>
