<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alumni_goaltender.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @alumni_goaltender.number %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @alumni_goaltender.gp %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @alumni_goaltender.wins %>
</p>

<p>
  <strong>Loses:</strong>
  <%= @alumni_goaltender.loses %>
</p>

<p>
  <strong>Otl:</strong>
  <%= @alumni_goaltender.otl %>
</p>

<p>
  <strong>Winpercent:</strong>
  <%= @alumni_goaltender.winpercent %>
</p>

<p>
  <strong>Ga:</strong>
  <%= @alumni_goaltender.ga %>
</p>

<p>
  <strong>Gaa:</strong>
  <%= @alumni_goaltender.gaa %>
</p>

<p>
  <strong>Shutouts:</strong>
  <%= @alumni_goaltender.shutouts %>
</p>

<p>
  <strong>Season:</strong>
  <%= @alumni_goaltender.season %>
</p>

<%= link_to 'Edit', edit_alumni_goaltender_path(@alumni_goaltender) %> |
<%= link_to 'Back', alumni_goaltenders_path %>
