
    <tr>
      <td><%= schedule.team1 %></td>
      <td><%= schedule.score %></td>
      <td><%= schedule.team2 %></td>
      <td><%= schedule.date %></td>
      <td><%= schedule.time %></td>
      <td><%= schedule.location %></td>
    </tr>

