<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "table.css" %>
<%= stylesheet_link_tag "backgroundColor.css" %>
<div id="background">
<h1>Bush Pilots Schedule</h1>

<table id="table">
  <thead>
    <tr>
      <th>Team1</th>
      <th>Score</th>
      <th>Team2</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.team1 %></td>
        <td><%= schedule.score %></td>
        <td><%= schedule.team2 %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.time %></td>
        <td><%= schedule.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</div>
