<nav id="nav">

  <ul>
    <li><%= link_to image_tag('pilotsLogo.jpeg', :class => "pilotsLogo"), root_path %></li>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Roster', roster_path %></li>
    <li><%= link_to 'Schedule', staticSchedule_path %></li>
    <li><%= link_to 'Seasons', seasons_path %></li>
  </ul>
</nav>
