  <tr>
    <td><%= alumni_skater.number %></td>
    <td><%= alumni_skater.name %></td>
    <td><%= alumni_skater.position %></td>
    <td><%= alumni_skater.gp %></td>
    <td><%= alumni_skater.goals %></td>
    <td><%= alumni_skater.assists %></td>
    <td><%= alumni_skater.points %></td>
    <td><%= alumni_skater.pim %></td>
    <td><%= alumni_skater.seasons %></td>
  </tr>
