<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @alumni_skater.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @alumni_skater.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @alumni_skater.position %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @alumni_skater.gp %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @alumni_skater.goals %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @alumni_skater.assists %>
</p>

<p>
  <strong>Points:</strong>
  <%= @alumni_skater.points %>
</p>

<p>
  <strong>Pim:</strong>
  <%= @alumni_skater.pim %>
</p>

<p>
  <strong>Seasons:</strong>
  <%= @alumni_skater.seasons %>
</p>

<%= link_to 'Edit', edit_alumni_skater_path(@alumni_skater) %> |
<%= link_to 'Back', alumni_skaters_path %>
