<tbody>
    <tr>
      <td><%= upcoming_game.team1 %></td>
      <td><%= upcoming_game.team2 %></td>
      <td><%= upcoming_game.date %></td>
      <td><%= upcoming_game.time %></td>
      <td><%= upcoming_game.location %></td>
    </tr>
</tbody>
