<tbody>
    <tr>
      <td><%= upcoming_game.team1 %></td>
      <td><%= upcoming_game.team2 %></td>
      <td><%= upcoming_game.date %></td>
      <td><%= upcoming_game.time %></td>
      <td><%= upcoming_game.location %></td>
      <!--<td><%#= link_to 'Show', upcoming_game %></td>
      <td><%#= link_to 'Edit', edit_upcoming_game_path(upcoming_game) %></td>
      <td><%#= link_to 'Destroy', upcoming_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
</tbody>
